architecture/n8n_workflow_mvp.json
{
  "name": "Antigravity MVP - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse command and args from Telegram message\nconst text = ($input.first().json.message?.text || '').trim();\nconst parts = text.split(/\\s+/);\nconst command = (parts[0] || '').toLowerCase();\nconst args = parts.slice(1).join(' ');\n\nreturn [{\n  json: {\n    chat_id: $input.first().json.message?.chat?.id,\n    command: command,\n    args: args,\n    username: $input.first().json.message?.from?.username || '',\n    first_name: $input.first().json.message?.from?.first_name || ''\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ String($json.chat_id) }}",
              "rightValue": "={{ String($env.TELEGRAM_CHAT_ID) }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputIndex": 0,
              "value": "/add"
            },
            {
              "outputIndex": 1,
              "value": "/list"
            },
            {
              "outputIndex": 2,
              "value": "/done"
            }
          ]
        },
        "fallbackOutput": 3,
        "dataType": "string",
        "value": "={{ $json.command }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_URL || 'http://host.docker.internal:8000' }}/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegram_chat_id: $json.chat_id, title: $json.args || 'Untitled' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "HTTP Add Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_URL || 'http://host.docker.internal:8000' }}/api/tasks/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegram_chat_id: $('Parse Command').first().json.chat_id, task_date: $('Parse Command').first().json.args || null }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "HTTP List Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_URL || 'http://host.docker.internal:8000' }}/api/tasks/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_SECRET_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegram_chat_id: $('Parse Command').first().json.chat_id, task_number: parseInt($('Parse Command').first().json.args) || 1, new_status: 'done' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "HTTP Done Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst chatId = $('Parse Command').first().json.chat_id;\n\nif (!resp.ok) {\n  return [{ json: { chat_id: chatId, text: '❌ ' + (resp.error || 'Unknown error') } }];\n}\n\nconst t = resp.task;\nconst priorityEmoji = { high: '🔴', medium: '🟡', low: '🟢' };\n\nconst text = \\nconst dAdd = t.task_date ? t.task_date.split('-') : [];\\nconst fDateAdd = dAdd.length === 3 ? `${dAdd[2]}.${dAdd[1]}.${dAdd[0]}` : t.task_date;\\n\\nconst text = `✅ Задача добавлена\\n\\n${priorityEmoji[t.priority] || '🟡'} ${t.title}\\n📅 ${fDateAdd}\\n⏱ ${t.estimated_minutes} мин`;\n\nreturn [{ json: { chat_id: chatId, text: text } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Format Add",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst chatId = $('Parse Command').first().json.chat_id;\n\nif (!resp.ok) {\n  return [{ json: { chat_id: chatId, text: '❌ ' + (resp.error || 'Unknown error') } }];\n}\n\nif (resp.count === 0) {\n  return [{ json: { chat_id: chatId, text: '📋 Задач на сегодня нет.\\nДобавьте через /add' } }];\n}\n\nconst statusIcon = { pending: '⬜', in_progress: '🔄', done: '✅', cancelled: '🚫' };\nconst priorityIcon = { high: '🔴', medium: '🟡', low: '🟢' };\n\nconst dList = resp.task_date ? resp.task_date.split('-') : [];\\nconst fDateList = dList.length === 3 ? `${dList[2]}.${dList[1]}.${dList[0]}` : resp.task_date;\\n\\nlet lines = [`📋 Задачи на ${fDateList}\\n`];\nfor (const t of resp.tasks) {\n  const s = statusIcon[t.status] || '⬜';\n  const p = priorityIcon[t.priority] || '🟡';\n  lines.push(`${s} ${t.number}. ${p} ${t.title} (${t.estimated_minutes} мин)`);\n}\nlines.push(`\\n📊 Всего: ${resp.count}/7`);\n\nreturn [{ json: { chat_id: chatId, text: lines.join('\\n') } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Format List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst chatId = $('Parse Command').first().json.chat_id;\n\nif (!resp.ok) {\n  return [{ json: { chat_id: chatId, text: '❌ ' + (resp.error || 'Unknown error') } }];\n}\n\nconst statusText = { done: '✅ Выполнено', cancelled: '🚫 Отменено', pending: '⬜ Возвращено' };\nconst label = statusText[resp.new_status] || '✅';\n\nconst text = `${label} #${resp.task_number}: ${resp.title}`;\n\nreturn [{ json: { chat_id: chatId, text: text } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Format Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chat_id;\nconst text = '❓ Неизвестная команда.\\n\\nДоступные:\\n/add Название — добавить задачу\\n/list — список задач\\n/done N — выполнить задачу #N';\n\nreturn [{ json: { chat_id: chatId, text: text } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        660
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "args-not-empty",
              "leftValue": "={{ $json.args }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Check Add Args",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Parse Command').first().json.chat_id;\nreturn [{ json: { chat_id: chatId, text: '❌ После /add укажите название задачи' } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Format Add Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -50
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Check Add Args",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP List Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Done Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Add Task": {
      "main": [
        [
          {
            "node": "Format Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP List Tasks": {
      "main": [
        [
          {
            "node": "Format List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Done Task": {
      "main": [
        [
          {
            "node": "Format Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Add": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Done": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Add Args": {
      "main": [
        [
          {
            "node": "HTTP Add Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Add Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Add Error": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}